# OIB Data Preprocessing 
Processing the open investment bank dataset to ease the process of data visualization. 
In the final application of the app, this will not be needed as the data used will be from APIs

### Importing data

In [147]:
import pandas as pd
import numpy as np

In [153]:
df = pd.read_csv("../data/Open_Investment_Data_2020-2024.csv")
df.head()

,Action,Transaction Date,Time,Ticker,Name,No. of shares,Price / share,Currency (Price / share),Exchange rate,Result of Sell,...,Stamp duty reserve tax,Currency (Stamp duty reserve tax),Notes,ID,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Deposit,2020-04-30,17:20:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71c8854b-7580-427e-a533-e8fba79e6db1,NaN,NaN,NaN,NaN,NaN,NaN
1,Market buy,2020-04-30,17:21:18,PBCT,People's United Financial,50.0,12.76,USD,1.25847,NaN,...,NaN,NaN,NaN,EOF194834082,NaN,NaN,NaN,NaN,NaN,NaN
2,Deposit,2020-05-04,10:43:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Free Shares Promotion,e115471e-f0f2-46a9-a510-78e0ab283f2e,NaN,NaN,NaN,NaN,NaN,NaN
3,Market buy,2020-05-04,10:43:01,NG,National Grid,1.0,929.80,GBX,100,NaN,...,0.05,GBP,NaN,EOF197523693,NaN,NaN,NaN,NaN,NaN,NaN
4,Market buy,2020-05-04,15:39:01,T,AT&T,15.0,29.34,USD,1.24252,NaN,...,NaN,NaN,NaN,EOF198326960,NaN,NaN,NaN,NaN,NaN,NaN

## Dropping un-wanted columns

In [156]:
df.drop(['Notes', 'ID', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27'], axis=1, inplace=True)
df.head()

,Action,Transaction Date,Time,Ticker,Name,No. of shares,Price / share,Currency (Price / share),Exchange rate,Result of Sell,Currency (Result),Total (GBP),Currency (Total),Total USD,Withholding tax,Currency (Withholding tax),Charge amount,Currency (Charge amount),Stamp duty reserve tax,Currency (Stamp duty reserve tax)
0,Deposit,2020-04-30,17:20:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.00,GBP,NaN,NaN,NaN,1000,GBP,NaN,NaN
1,Market buy,2020-04-30,17:21:18,PBCT,People's United Financial,50.0,12.76,USD,1.25847,NaN,GBP,506.96,GBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deposit,2020-05-04,10:43:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.35,GBP,NaN,NaN,NaN,9.35,GBP,NaN,NaN
3,Market buy,2020-05-04,10:43:01,NG,National Grid,1.0,929.80,GBX,100,NaN,GBP,9.34,GBP,NaN,NaN,NaN,NaN,NaN,0.05,GBP
4,Market buy,2020-05-04,15:39:01,T,AT&T,15.0,29.34,USD,1.24252,NaN,GBP,354.19,GBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merging all dividens into 1 catergory

In [159]:
df['Action'].describe()

count           3298
unique            14
top       Market buy
freq            1365
Name: Action, dtype: object

In [161]:
df['Action'] = df['Action'].replace(r'(?i)^dividend.*', 'Dividend', regex=True)

In [163]:
df['Action'].describe()

count           3298
unique             7
top       Market buy
freq            1365
Name: Action, dtype: object

### Create new column called share/price (GBP)

In [166]:
df['Exchange rate'] = pd.to_numeric(df['Exchange rate'], errors='coerce')

df['Price / Share (GBP)'] = df['Price / share'] / df['Exchange rate']

In [168]:
df.head()

,Action,Transaction Date,Time,Ticker,Name,No. of shares,Price / share,Currency (Price / share),Exchange rate,Result of Sell,...,Total (GBP),Currency (Total),Total USD,Withholding tax,Currency (Withholding tax),Charge amount,Currency (Charge amount),Stamp duty reserve tax,Currency (Stamp duty reserve tax),Price / Share (GBP)
0,Deposit,2020-04-30,17:20:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000.00,GBP,NaN,NaN,NaN,1000,GBP,NaN,NaN,NaN
1,Market buy,2020-04-30,17:21:18,PBCT,People's United Financial,50.0,12.76,USD,1.25847,NaN,...,506.96,GBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.139296
2,Deposit,2020-05-04,10:43:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.35,GBP,NaN,NaN,NaN,9.35,GBP,NaN,NaN,NaN
3,Market buy,2020-05-04,10:43:01,NG,National Grid,1.0,929.80,GBX,100.00000,NaN,...,9.34,GBP,NaN,NaN,NaN,NaN,NaN,0.05,GBP,9.298000
4,Market buy,2020-05-04,15:39:01,T,AT&T,15.0,29.34,USD,1.24252,NaN,...,354.19,GBP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.613302

In [170]:
df.to_csv("../data/OID-Dataset.csv")